body {
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#target {
    font-size: 48px;
    letter-spacing: 0.1em;
}

.restart {
    display: block;
    margin: 0 auto;
    background-color: pink;
    padding: 15px;
    width: 70px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}